<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售数据</title>
    <link rel="shortcut icon" href="../public/img/favicon.png" type="images/x-icon">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../iconfont/iconfont.css">
    <link rel="stylesheet" href="../public/css/frame.css">
    <link rel="stylesheet" href="../public/css/studioDetail.css">
    <link rel="stylesheet" href="../public/css/studio.css">
</head>
<body>
	<div class="myNav">
        <div class="user">
            <div class="photo"></div>
            <span>-Name-</span>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link myNav-link" href="studio.html"><i class="iconfont icon-yingyuan"></i>影厅管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link myNav-link" href="play.html"><i class="iconfont icon-huaban-"></i>影片管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link myNav-link" href="seat.html"><i class="iconfont icon-zuowei"></i>座位管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link myNav-link" href="schedule.html"><i class="iconfont icon-jihua1"></i>计划管理</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link myNav-link" href="staff.html"><i class="iconfont icon-yuangongguanli1"></i>员工管理</a>
        	</li>
            <li class="nav-item">
                <a class="nav-link myNav-link chosen" href="#"><i class="iconfont icon-shuju"></i>销售数据</a>
            </li>
        </ul>
        <span class="copyright">Copyright @ 2020 Honey Peach</span>
    </div>
    <div class="title-nav">
        <span><a href="#" class="exit"><i class="iconfont icon-tuichu_huaban1"></i> 注销</a></span>
        <span class="name">- 欢迎来到 Honey Peach 影院管理系统 -</span>
    </div>
	<div class="frame" id="frame">
		<p style="text-align:center;font-size: 35px;padding-top: 15px">销售数据查询</p>
		<p style="text-align:center;font-size: 20px;">请选择查询方式</p>
        <div class="saleschoice" id="choice">
        	<img src="../public/img/conductor.png" width="250" height="250" style="position:absolute; left:25%; top:150px; " alt="按售票员查询">
        	<button type="button" class="btn btn-dark" style="position:absolute; left:31%; top:440px;margin-right:50px;" onclick="javascript:window.location='saleByStaff.html?type=search'">按员工查询</button>
        </div>
        <div class="saleschoice"  style="display: inline-block;" >
        	<img src="../public/img/movie.png" width="250" height="250" style="position:absolute; left:55%; top:150px; " alt="按剧目查询">
        	<button type="button" class="btn btn-dark" style="position:absolute; left:61%; top:440px;margin-right:50px;" onclick="javascript:window.location='saleByPlay.html?type=search'">按剧目查询</button>
        </div>
    </div>
</body>
</html>